*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
.idea/
.DS_Store
bin/
registry.terraform.io
.env
.env.dev
dist/
gitleaks.toml

# TypeScript related ignores
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
.npm
*.tsbuildinfo
.eslintcache
coverage/
.nyc_output/

.claude/